# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\diogo\OneDrive\Ambiente de Trabalho\2º Ano - 2º Semestre\4_PA\Trabalho Prático\ProjetoQuatroLinha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
